################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/API_Vinted/.vs/API_Vinted/FileContentIndex/22406aef-3e68-48b6-94e3-ba8abd3877ab.vsidx
