################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/API_Vinted/.vs/API_Vinted/FileContentIndex/22406aef-3e68-48b6-94e3-ba8abd3877ab.vsidx
/.vs/S401-AppComplexe/FileContentIndex/0afab4f5-2051-45d1-8e4c-989b3af1bc4e.vsidx
/.vs/S401-AppComplexe/FileContentIndex/846ba2ab-3d2d-4b61-9ffc-fccaadf0c06f.vsidx
/.vs/S401-AppComplexe/FileContentIndex/facc41f6-68a8-455f-922e-b9306a540363.vsidx
